<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <!-- 引入样式 -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <link rel="stylesheet" href="styles/style.css" />
  </head>

  <body>
    <div id="app">
      <div class="v-container" :style="template && template[root].options">
        <!-- 原本计划编写更多可编辑的参数页面更加丰富，迫于时间问题暂时如此。 -->
        <template v-if="template && root">
          <template v-for="item in template[root].children" :key="item">
            <div
              class="v-article-container v-header-container"
              v-if="item == 'header'"
              :style="template[item].options"
              :class="[current_module == item ? 'actived' : 'deactivated']"
              @click.stop="switchModule(item)"
            >
              <div class="v-article-wrapper">
                <div class="v-article-main">
                  <template
                    v-for="_item in template[item].children"
                    :key="_item"
                  >
                    <div
                      v-if="_item == 'header_image'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <img
                        class="image-3"
                        :src="template[_item].options && template[_item].options.src"
                      />
                    </div>
                    <div
                      v-if="_item == 'header_title'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <p class="title-3">
                        {{ template[_item].options &&
                        template[_item].options.value }}
                      </p>
                    </div>
                    <div
                      v-if="_item == 'header_subtitle'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <p class="subtitle-3">
                        {{ template[_item].options &&
                        template[_item].options.value }}
                      </p>
                    </div>
                    <div
                      v-if="_item == 'header_content'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <p class="content-3">
                        {{ template[_item].options &&
                        template[_item].options.value }}
                      </p>
                    </div>
                  </template>
                </div>
              </div>
            </div>
            <div
              class="v-article-container"
              v-if="item == 'article_1'"
              :style="template[item].options"
              :class="[current_module == item ? 'actived' : 'deactivated']"
              @click.stop="switchModule(item)"
            >
              <div class="v-article-wrapper">
                <div class="v-article-main">
                  <template
                    v-for="_item in template[item].children"
                    :key="_item"
                  >
                    <div
                      v-if="_item == 'article_1_image'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <img
                        class="image"
                        :src="template[_item].options && template[_item].options.src"
                      />
                    </div>

                    <div
                      v-if="_item == 'article_1_title'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <p class="title">
                        {{ template[_item].options &&
                        template[_item].options.value }}
                      </p>
                    </div>
                    <div
                      v-if="_item == 'article_1_subtitle'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <p class="subtitle">
                        {{ template[_item].options &&
                        template[_item].options.value }}
                      </p>
                    </div>
                    <div
                      v-if="_item == 'article_1_content'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <p class="content">
                        {{ template[_item].options &&
                        template[_item].options.value }}
                      </p>
                    </div>
                  </template>
                </div>
              </div>
            </div>
            <div
              class="v-article-container v-article-container-2"
              v-if="item == 'article_2'"
              :style="template[item].options"
              :class="[current_module == item ? 'actived' : 'deactivated']"
              @click.stop="switchModule(item)"
            >
              <div class="v-article-wrapper">
                <div class="v-article-main">
                  <template
                    v-for="_item in template[item].children"
                    :key="_item"
                  >
                    <div
                      v-if="_item == 'article_2_image'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <img
                        class="image-2"
                        :src="template[_item].options && template[_item].options.src"
                      />
                    </div>
                    <div
                      v-if="_item == 'article_2_title'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <p class="title-2">
                        {{ template[_item].options &&
                        template[_item].options.value }}
                      </p>
                    </div>
                    <div
                      v-if="_item == 'article_2_subtitle'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <p class="subtitle-2">
                        {{ template[_item].options &&
                        template[_item].options.value }}
                      </p>
                    </div>
                    <div
                      v-if="_item == 'article_2_content'"
                      :class="[current_module == _item ? 'actived' : 'deactivated']"
                      v-show="template[_item].options && template[_item].options.show"
                      @click.stop="switchModule(_item)"
                    >
                      <p class="content-2">
                        {{ template[_item].options &&
                        template[_item].options.value }}
                      </p>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </template>
        </template>
      </div>
    </div>
  </body>
  <!-- 引入Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- 引入http-vue-loader -->
  <!-- <script src="https://unpkg.com/http-vue-loader"></script> -->
  <script>
    // Vue.use(httpVueLoader);
    var app = new Vue({
      el: "#app",
      // components: {
      //   vArticle: httpVueLoader("components/vArticle.vue")
      // },
      data() {
        return {
          root: "root",
          template: null, // 网页模板
          current_module: "" // 当前选中模板
        };
      },
      mounted() {
        window.addEventListener("message", this.handleMessage);
        // 给父页面传递初始化完成消息
        this.handleMessageToParent({
          cmd: "init",
          data: {}
        });
      },
      methods: {
        handleMessage(event) {
          // 接收父页面的消息
          if (event.data && event.data.cmd == "update") {
            // 更新模板消息
            this.render(event.data.data);
          } else if (event.data && event.data.cmd == "switch") {
            // 切换模块消息
            this.current_module = event.data.data;
          }
        },
        handleMessageToParent(params) {
          // 给父页面传递消息
          window.parent.postMessage(params, "*");
        },
        render({ template, current_module }) {
          // 处理父页面模板更新
          this.template = template;
          this.current_module = current_module || this.root;
        },
        switchModule(item) {
          if (item == this.current_module) return;
          this.current_module = item;
          // 发送切换模块消息
          this.handleMessageToParent({
            cmd: "switchModule",
            data: item
          });
        }
      }
    });
  </script>
</html>
